.main {
  width : 500px;  
  margin : auto;
  text-align: center;
}

.submitButton {
  background-color: rgb(78, 127, 201); 
  border: none;
  color: white;
  padding: 10px 32px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width : 110px;
}

input {
  width:370px;
  height: 40px;
  border-radius: 5px;
  font-size : 20px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 20px;
  color : rgb(68, 65, 65);
}

h1 {
  font-size: 28px;
  font-weight: bold;
  color: rgb(248, 115, 19); 
}

#toDoTitle {
  font-size: 18px;
  background-color: #4CAF50;
  color :white;
  font-weight: bold;
  line-height : 40px;
  vertical-align: middle;
  border-radius: 5px;
}

#completedTitle {
  font-size: 18px;
  background-color: indianred;
  color :white;
  font-weight: bold;
  line-height : 40px;
  vertical-align: middle;
  border-radius: 5px;
  margin-top : 30px;
}

.empty {
  font-size: 20px;
  font-weight: bold;
  line-height : 40px;
  width : 495px;
  color : rgb(68, 65, 65); 
}

.completeButton{
  background-color: rgb(78, 127, 201); 
  border: none;
  color: white;
  padding: 10px;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width : 90px;
}

.delButton{
  background-color: rgb(235, 86, 86); 
  border: none;
  color: white;
  padding: 10px;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width : 90px;
}

#toDoText {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  line-height : 40px;
  vertical-align: middle;
  width : 310px;
  border-bottom : 5px solid white;
  display: inline-block;
  color : rgb(68, 65, 65);
}
